body {
	font-family : 微軟正黑體, Verdana;
	font-size : 14pt;
	color : #E0E0E0;
	background-color : #000000;
	margin : 0;
}

input,select {
	font-family : 微軟正黑體, Verdana;
	font-size : 14pt;	
}

div#settingspanel {
	margin : 160px auto 0 auto;
	width : 400px;
}

div#controlpanel object {
	margin : 0 auto;
	display : block;
}

table.settings {
	width : 100%;
}

table.settings td {
	padding : 8px;
}

table.settings td.item {
	width : 80px;
}